aiogram==2.25.2
aiohttp==3.8.6
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
async-timeout==4.0.3
attrs==26.1.0
autobahn==25.12.2
automat==25.4.16
babel==2.9.1
cbor2==5.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
constantly==23.10.4
cryptography==47.0.0
django==5.2.13
django-rest-framework==0.1.0
djangorestframework==3.17.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.111.1
fastapi-cli==0.0.24
frozenlist==1.8.0
greenlet==3.4.0
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.15.0
hyperlink==21.0.0
idna==3.13
incremental==24.11.0
iniconfig==2.3.0
iterable-io==1.0.1
jinja2==3.1.6
magic-filter==1.0.12
magic-wormhole==0.23.0
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
multidict==6.7.1
packaging==26.1
pluggy==1.6.0
propcache==0.4.1
psycopg2-binary==2.9.9
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic-core==2.46.3
pygments==2.20.0
pynacl==1.6.2
pyopenssl==26.1.0
pytest==9.0.3
pytest-django==4.12.0
python-dotenv==1.2.2
python-multipart==0.0.26
pytz==2026.1.post1
pyyaml==6.0.3
qrcode==8.2
rich==15.0.0
rich-toolkit==0.19.7
service-identity==24.2.0
shellingham==1.5.4
spake2==0.9
sqlalchemy==2.0.49
sqlparse==0.5.5
starlette==0.37.2
tqdm==4.67.3
twisted==25.5.0
txaio==25.12.2
txtorcon==24.8.0
typer==0.24.2
typing-extensions==4.15.0
typing-inspection==0.4.2
ujson==5.12.0
uvicorn==0.29.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
wormhole==0.1.0
yarl==1.23.0
zipstream-ng==1.9.0
zope-interface==8.4
drf-spectacular
drf-spectacular-sidecar